.background {
    width: 1152px;
    height: 700px; 
    background-color: rgb(31, 18, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.first-box {
    background-color: #F48C06;
    width: 468px;
    min-height: 160px;
    padding: 20px;
    display: flex;
    align-items: ;
}

.second-box {
    background-color: #F48C06;
    width: 468px;
    min-height: 160px;
    padding: 20px;
    display: flex;
    align-items: ;
}

.third-box {
    border: ;
    background-color: #F48C06;
    width: 468px;
    min-height: 160px;
    padding: 20px;
    display: flex;
    align-items: ;
}
.fourth-box {
    border: ;
    background-color: #F48C06;
    width: 468px;
    min-height: 160px;
    padding: 20px;
    display: flex;
    align-items: ;
}
.fifth-box {
    border: ;
    background-color: #F48C06;
    width: 468px;
    min-height: 160px;
    padding: 20px;
    display: flex;
    align-items: ;
}
.sixth-box {
    border: ;
    background-color: #F48C06;
    width: 468px;
    min-height: 160px;
    padding: 20px;
    display: flex;
    align-items: ;
}
.box-one__box {
    background-color: #9D0208;
    border: none
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    display: flex;  
    flex-basis: 180px;
}
